//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
//colors
$line: #e6e6e6;
$red: #f23333;
$green: #00D54B;


//mixins
@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin padding {
    padding: 0 3em;
}

a{
    text-decoration: none;
    color: black;
}

li, ul{
    list-style: none;
    padding: 0;
}

